body{
    padding: 0px;
    margin: 0px;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#Module{
    height: 500px;
    position: relative;
}

.Wrapper{
    position: relative;
    left: 56px;
    top: -54px;
    min-height: 300px;
    width: 286px;
}

#GoodTable{
    border: 1px solid #48AAE6;
    margin: 1px;
    position: relative;
}

td{
    border: 1px solid #48AAE6;
    width: 50px;
    height: 50px;
    background: #48AAE6;
}

.OperationButton{
    width: 50px;
    height: 50px;
    margin: 1px;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    user-select: none;
}

.OperationButton:hover{
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 0.5s;
    opacity: 0.7;
}

.ButtonMinus{
    border: 2px solid #B20000;
    background: #B20000;
    transition: 0.5s;
    position: relative;
    visibility: hidden;
}

.ButtonMinus:nth-of-type(1){
    left: 59px;
}

.ButtonMinus:nth-of-type(2){
    top: 4px;
}

.ButtonPlus{
    border: 2px solid #F3A500;
    background: #F3A500;
    position: absolute;
}

.ButtonPlus:nth-of-type(1){
    left: 3px;
}

.ButtonPlus:nth-of-type(2){
    top: 2px;
    left: 230px;
}

.Inner{
    font-size: 32px;
    text-align: center;
    margin-top: 0.1em;
    color: white;
    font-weight: bold;
    user-select: none;
}

